@import "../../stylesheets/colors.scss";

small.tag-pill {
  font-size: var(--step-0);
  margin-right: var(--space-3xs);
  padding: var(--space-3xs) var(--space-2xs);
  border-radius: var(--space-3xs);
  background-color: $selection-color;
  white-space: nowrap;
  &:last-of-type {
    margin-right: 0;
  }
}
