.project-section {
  height: 500px;
  padding: 3%;
  max-width: 1280px;
  flex-direction: column;
  &.container {
    background: #f9f9ff;
    max-width: 100%;
    width: 100%;
  }
  h2 {
    text-align: center;
    text-transform: uppercase;
    color: #222;
    font-family: Poppins, sans-serif;
    font-size: 36px;
    margin: auto;
    margin-bottom: 18px;
    text-transform: uppercase;
  }
  .inner-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    max-width: 1280px;
    padding: 1%;
    .card {
      flex: 1;
      margin: 0 20px;
      height: 100%;
      border-radius: 10px;
      transition: box-shadow 0.5s ease-in-out;
      background: #fff;
      &:hover {
        box-shadow: 0 10px 30px 0 rgba(0,0,0,.08);
      }
    }
  }
}