.project-section {
  height: 500px;
  min-height: fit-content;
  padding: 3%;
  max-width: 1280px;
  flex-direction: column;

  &.container {
    max-width: 100%;
    width: 100%;
    // background: #f9f9ff;
  }

  h2 {
    text-align: center;
    text-transform: uppercase;
    color: #222;
    font-weight: 400;
    font-family: Poppins, sans-serif;
    font-size: 36px;
    margin: auto;
    margin-bottom: 18px;
  }

  p {
    text-align: center;
    color: #222;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    margin-bottom: 18px;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    font-size: 1.025em;

    a {
      text-decoration: none;
      font-weight: 500;
      color: #625ae4;
    }
  }

  .inner-container {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
    height: fit-content;
    justify-content: space-around;
    width: 100%;
    max-width: 1280px;
    padding: 1em 2em;
    margin: auto;

    &>a {
      margin: 20px;
      display: flex;
      box-sizing: border-box;
      width: 350px;
      max-width: 470px;

      @media screen and (max-width: 883px) {
        width: 80% !important;
      }

      flex: 1 1 auto;
      text-decoration: none;
    }

    .card {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      border-radius: 2px;
      border-top: 3px solid;
      -webkit-transition: box-shadow 0.5s ease-in-out;
      -moz-transition: box-shadow 0.5s ease-in-out;
      -o-transition: box-shadow 0.5s ease-in-out;
      transition: box-shadow 0.5s ease-in-out;
      background: #fff;
      padding: 2em;
      will-change: transform;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

      &.lang-js {
        border-top-color: #FBDD51 !important;
      }

      &:hover {
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
      }

      .repo-title {
        a {
          text-decoration: none;
        }

        h3 {
          color: #37474F;
          -webkit-transition: color .2s ease-out;
          -moz-transition: color .2s ease-out;
          -o-transition: color .2s ease-out;
          transition: color .2s ease-out;
          margin: 0;
          font-size: 1.25em;
          font-weight: 600;
          line-height: 1.5;
          font-family: 'Open Sans', sans-serif;
          cursor: pointer;

          &:hover {
            color: #78909C;
          }
        }
      }

      .badges {
        display: flex;
        margin: 20px 0;
        margin-bottom: 36px;
      }

      .repo-description {
        p {
          text-align: left;
          font-weight: 300;
          color: rgb(83, 83, 83);
          letter-spacing: 0.02em;
          line-height: 1.5em;
          font-size: 0.97em;
        }
      }
    }
  }
}