@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');


.container {
    &.hero-section {
        height: 70vh;
        display: flex;
        .intro {
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 100%;
            div {
                flex-direction: column;
                width: 50%;
            }
            .image {
                height: 100%;
                align-items: center;
                display: flex;
                justify-content: center;
            }
        }
    }
}