@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');
.container {
    max-width: 1280px;
    margin: auto;
    &.hero-section {
        height: 100vh;
        width: 100%;
        float: right;
        display: flex;
        padding: 2% 0;
        .intro {
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 100%;

            @media only screen and (max-width: 690px) {
                flex-direction: column;
            }
            
            div {
                @media only screen and (max-width: 690px) {
                    text-align: center;
                    width: fit-content;
                }
                flex-direction: column;
                width: 50%;
                padding: 2%;
                white-space: nowrap;
                animation: fadeIn 3s linear;
                p {
                    animation: fadeIn 4s linear;
                }
                .footer {
                    @media only screen and (max-width: 690px) {
                        margin: auto;
                        justify-content: space-around;
                    }
                    width: 70%;
                    display: flex;
                    flex-direction: row;
                    padding: 2%;
                    padding-left: 0;
                    box-sizing: border-box;
                    font-size: 1.6em;
                    a {
                        text-decoration: none;
                        color: black;
                        margin-right: 0.7em;
                        @media only screen and (max-width: 690px) {
                            margin: 0;
                        }
                    }
                }
            }
            .image {
                height: 100%;
                align-items: center;
                display: flex;
                justify-content: center;
                @media only screen and (max-width: 690px) {
                    height: 60%;
                }
                img {
                    width: auto;
                    animation: fadeIn 3s linear;
                }
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
