.blog-section {
  height: 500px;
  min-height: fit-content;
  padding: 3%;
  max-width: 1280px;
  flex-direction: column;
  &.container {
    max-width: 100%;
    width: 100%;
    background: linear-gradient(90deg, #766dff 0%, #88f3ff 100%);
  }
  h2 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin: auto;
    margin-bottom: 18px;
  }
  .inner-container {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
    height: fit-content;
    justify-content: space-around;
    width: 100%;
    max-width: 1280px;
    padding: 1% 3%;
    will-change: transform;
    animation: fadeInUp 0.5s linear;
    a {
      margin: 20px;
      box-sizing: border-box;
      width: 350px;
      height: 300px;
      text-decoration: none;
      color: rgb(110, 189, 255) !important;
    }
    .card {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 10% 5%;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
      transition: box-shadow 0.5s ease-in-out;
      background: #fff;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
      &:hover {
        // box-shadow: 0 5px 20px 10px rgba(0,0,0,.08);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
      }
      .blog-title {
        height: 40%;
        width: 100%;
        margin-bottom: 20px;
        overflow: hidden;
        h4 {
          color: #222;
          font-family: Poppins, sans-serif;
          transition: color .2s ease-out;
          margin: 0;
          font-size: 1.25em;
          font-weight: 500;
          line-height: 1.4;
          cursor: pointer;
          &:hover {
            color: #78909C;
          }
        }
      }
      .blog-description {
        height: 60%;
        overflow: hidden;
        p {
          color: #777;
          font-family: Poppins, sans-serif;
          margin: auto;
          margin-bottom: 18px;
        }
      }
    }
  }
}