---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/base_layout.astro';
import ArticleItem from '../../components/article_list/article_item.astro';

export async function getStaticPaths() {
  const articles = await getCollection('articles');
  articles.sort((a, b) => +new Date(b.data.date) - +new Date(a.data.date));

  const articlesPerPage = 5;
  const totalPages = Math.ceil(articles.length / articlesPerPage);
  
  // Return pages starting from page 2 (since page 1 is handled by index.astro)
  return Array.from({ length: totalPages - 1 }).map((_, i) => ({
    params: { page: String(i + 2) },
  }));
}

const articles = await getCollection('articles');
articles.sort((a, b) => +new Date(b.data.date) - +new Date(a.data.date));

const articlesPerPage = 5;
const currentPage = Number(Astro.params.page);
const totalPages = Math.ceil(articles.length / articlesPerPage);
const start = (currentPage - 1) * articlesPerPage;
const end = start + articlesPerPage;
const articlesToShow = articles.slice(start, end);
---

<BaseLayout
    page_info={{
        title: `${currentPage > 1 ? `Page ${currentPage} - ` : ""}Articles - rishikc.com`,
        description: `${
            currentPage > 1 ? `Page ${currentPage} of` : "Welcome to"
        } my blog for quick reads to articles on technology, science, life, and everything in between.`,
        keywords: "react js,react website,blog,react javascript,online article",
    }}  
>
    <main>
        <content>
            <div
                class="flex flex-col flex-shrink-0 justify-center items-start gap-8 w-[486px] h-[682px]"
            >
                {articlesToShow.map((p) => <ArticleItem data={p} />)}
            </div>
        </content>
        <nav>
            {currentPage > 1 && (
              <a href={currentPage === 2 ? `/articles/` : `/articles/${currentPage - 1}`}>Previous</a>
            )}
            {currentPage < totalPages && (
              <a href={`/articles/${currentPage + 1}`}>Next</a>
            )}
          </nav>
    </main>
    <!-- <Footer /> -->
    <!-- <ColorScript /> -->
</BaseLayout>
