aside.sidebar {
  @apply flex flex-col sticky top-28 w-56 rounded-lg overflow-hidden;
  font-size: var(--step-1);
  visibility: hidden;
  overflow-y: scroll;
  max-height: 100vh;
  width: 0px;
  @media (min-width: 970px) {
    visibility: visible;
    min-width: clamp(18rem, calc(9rem + 12vw), 22rem);
  }
  left: var(--space-xs);
  height: max-content;

  & > ul {
    @apply space-y-2 font-medium;
    margin-bottom: var(--space-s);

    & > li > a {
      @apply flex items-center p-2 rounded-lg text-slate-600 hover:text-gray-50 dark:text-gray-200 hover:bg-brand-500 dark:hover:bg-brand-800 focus:bg-brand-500 dark:focus:bg-brand-800 focus:text-gray-50 dark:focus:text-gray-200 outline-none transition-all;

      & > dfn {
        @apply flex-1 ml-3 not-italic;
      }
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.suggestion-list {
  @apply pt-1 font-medium border-t border-gray-200 dark:border-gray-700;
  padding-bottom: 25vh; // A little hack to keep the max visibility on scroll
  display: grid;
  gap: var(--space-xs);

  & > li:first-of-type {
    @apply font-medium uppercase text-sm px-2 py-2 rounded-sm dark:bg-slate-900 bg-slate-100 mb-4;
  }

  &-item {
    @apply inline-flex w-full items-stretch focus-within:outline-dotted focus-within:outline-2 focus-within:outline-brand-700;
    will-change: transform;
    transition: transform 0.2s ease-in-out;

    &:hover,
    &:focus-within {
      transform: scale(0.97);
    }

    & > div {
      @apply h-full flex flex-col justify-between p-6 bg-slate-100 dark:bg-slate-800 dark:border-gray-800 shadow-sm;
      border-radius: var(--space-2xs-xs);

      & > div:first-child {
        @apply h-2/3 flex flex-col justify-between;
      }
    }

    &-title {
      @apply mb-2 text-gray-900 dark:text-white;
      font-size: var(--step-2);
      padding-right: var(--space-m);
      margin: var(--space-2xs-xs) 0 !important;
      margin-top: 0 !important;
      width: 100%;
      font-weight: 400;
    }

    &-details {
      @apply mb-3 text-gray-700 dark:text-gray-400;
      font-size: var(--step-1);
      line-height: 1.9;
      margin-top: var(--space-2xs);
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 7;
      overflow: hidden;
      + a {
        @apply inline-flex items-center text-center text-brand-700 rounded-lg hover:text-brand-900 focus:outline-none;
      }
    }
  }
}
