---
---
<div
  class="
  prose
  dark:prose-invert
  prose-p:text-justify
  prose-img:rounded-xl
  prose-headings:font-bold
  prose-headings:inline-flex
  prose-headings:items-center
  prose-headings:gap-2
  prose-headings:font-['Red_Hat_Display_Variable']
  prose-a:block
  prose-th:table-cell
  prose-img:mx-auto
  prose-img:max-w-[90%]
  prose-img:w-full
  ">
  <slot />
</div>