---
---
<div
  class="
  prose
  prose-neutral

  prose-headings:font-bold
  prose-headings:scroll-mt-8
  prose-headings:font-['Red_Hat_Display_Variable']

  prose-a:no-underline prose-a:hover:underline

  prose-code:before:content-none prose-code:after:content-none
  prose-code:rounded-md
  prose-code:px-1 prose-code:py-0.5 prose-code:font-mono

  prose-pre:rounded-md prose-pre:p-4

  prose-img:rounded-xl
  prose-img:mx-auto
  prose-img:max-w-[90%]
  prose-img:w-full

  prose-th:table-cell
  prose-table:overflow-x-auto
  prose-table:block
  ">
  <slot />
</div>