---
---
<div
  class="
  prose
  prose-img:rounded-xl
  prose-headings:font-bold
  prose-headings:scroll-mt-8
  prose-headings:font-['Red_Hat_Display_Variable']
  prose-th:table-cell
  prose-table:overflow-x-auto
  prose-table:block
  prose-img:mx-auto
  prose-img:max-w-[90%]
  prose-img:w-full
  ">
  <slot />
</div>