.quotes-main {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 25px 20px;
  &.container {
    width: 83%;
    max-width: 1028px;
  }
  background: #fff;
  color: #000;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0.05em;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  ul {
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto;

    @media only screen and (max-width: 956px) {
      grid-template-columns: auto auto;
    }

    @media only screen and (max-width: 655px) {
      grid-template-columns: auto;
      grid-gap: 25px;
    }

    grid-gap: 43px 25px;

    .quote {
      p {
        align-self: flex-end;
        margin: 1em 0 0 0;
        font-weight: 400;
        font-size: 1rem;
      }

      color: rgb(101, 101, 101);
      font-size: 1em;
      letter-spacing: 0.03em;
      line-height: 1.5;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 1em;
      align-items: center;
      justify-content: space-evenly;
      text-align: center;
      border-radius: 2px;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      background: #fff;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
      border-top: 2px solid transparent;
      will-change: transform;

      &:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.219);
        border-top: 2px solid sandybrown;
      }
    }
  }
}

.quotes-main-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  h2 {
    color: #000;
    transition: color 0.2s ease-out;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.05em;
  }

  @media only screen and (max-width: 610px) {
    flex-direction: column-reverse;
  }

  a {
    text-decoration: none;
    color: #222;
    display: flex;

    svg {
      align-self: center;
    }

    &:hover {
      color: rgb(101, 101, 101);
    }
  }

  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  p {
    color: #222;
    font-size: 1.1em;
    margin-bottom: 18px;
    font-weight: 500;
    margin-right: 10px;

    &:hover {
      color: rgb(101, 101, 101);
    }
  }
}
