.quotes-main {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  width: 83%;
  color: #000;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0.05em;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  @media only screen and (max-width: 610px) {
    width: 92%;
  }
  ul {
    padding: 0;
    .quote {
      p {
        align-self: flex-end;
        margin: 1em 0 0 0;
        font-weight: 400;
      }
      color: #777;
      font-size: 1em;
      letter-spacing: 0.03em;
      line-height: 1.5;
      margin: 1.5em 0;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 1em;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 2px;
      transition: box-shadow 0.5s ease-in-out;
      background: #fff;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
      border-left: 2px solid transparent;
      &:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        border-left: 2px solid sandybrown;
      }
    }
  }
}

.quotes-main-header {
  display: flex;
  justify-content: space-between;
  h2 {
    color: #000;
    transition: color .2s ease-out;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.05em;
  }
  @media only screen and (max-width: 610px) {
    flex-direction: column-reverse;
  }
  a {
    text-decoration: none;
    color: #222;
    display: flex;
    svg {
      align-self: center;
    }
    &:hover {
      color: #777;
    }
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  p {
    color: #222;
    font-size: 1.1em;
    margin-bottom: 18px;
    font-weight: 500;
    margin-right: 10px;
    &:hover {
      color: #777;
    }
  }
}