.git-preview {
  @apply flex flex-col w-full mx-auto mb-28 justify-between;
  scroll-margin-top: 7rem;
  & > a {
    @apply text-brand-700 dark:text-brand-400 hover:text-brand-900 dark:hover:text-brand-700 focus-within:outline-dotted focus-within:outline-2 focus-within:outline-brand-700 antialiased;
    margin-top: var(--space-2xs-xs);
  }
  &-header {
    @apply antialiased;
    font-size: var(--step-2);
    + div {
      @apply mx-auto py-6;
    }
  }
  &-list {
    @apply grid grid-cols-1 grid-rows-3 sm:grid-rows-2 sm:grid-cols-2 lg:grid-cols-3 grid-flow-row auto-cols-fr;
    grid-auto-rows: 0px;
    overflow: hidden;
    gap: var(--space-2xs-xs);

    @media (max-width: 640px) {
      grid-template-rows: auto auto auto;
    }

    .h-item {
      @apply flex items-stretch max-w-md md:max-w-none w-full;
      padding: 1px;
      @media (max-width: 640px) {
        padding: 0;
      }
      overflow: hidden;
      .p-name {
        @apply dark:text-slate-200 flex justify-between;
        font-size: var(--step-1);
        margin-bottom: var(--space-xs-s);
        small {
          font-size: var(--step-0);
          margin-left: var(--space-s);
        }
      }

      & > a {
        @apply inline-flex w-full items-stretch focus:outline-dotted focus:outline-2 focus:outline-brand-700;
        will-change: transform;
        transition: transform 0.2s ease-in-out;
        &:hover,
        &:focus {
          transform: scale(0.97);
        }
      }

      .card {
        @apply relative w-full bg-white dark:bg-slate-800 sm:mx-auto overflow-hidden shadow-sm;
        border-radius: var(--space-2xs-xs);
        padding: var(--space-s-m) var(--space-s-m);

        .repo-langs {
          @apply w-full flex;
          margin-bottom: var(--space-xs-s);
          border-radius: var(--space-s);
          overflow: hidden;
          height: calc(var(--step--2) / 1.75);
          & > dfn {
            @apply h-full;
            & > div {
              @apply h-full w-full;
            }
          }
        }
      }

      .repo-description {
        @apply opacity-70 dark:opacity-90;
        font-size: var(--step-1);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
      }
    }
  }
}
