.about-section {
  display: block !important;
  padding: 70px;
  box-sizing: border-box;
  margin-top: 200px !important;
  padding-bottom: 50px;
  @media only screen and (max-width: 1100px) {
    padding: 0;
  }
  &>div {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    @media only screen and (max-width: 820px) {
      margin-top: 5em;
    }
    @media only screen and (max-width: 1100px) {
      flex-direction: column-reverse;
    }
    h4.max-width820 {
      color: #222;
      font-family: Poppins, sans-serif;
      font-size: 36px;
      font-weight: 400;
      margin: auto;
      text-transform: uppercase;
      display: none;
      @media only screen and (max-width: 820px) {
        display: block;
      }
    }
  }
  .about-content {
    @media only screen and (max-width: 1100px) and (min-width: 820px) {
      margin-top: -2.5em;
    }
    @media only screen and (max-width: 820px) {
      margin-top: 0;
    }
    flex: 2;
    padding: 20px 50px;
    h4 {
      color: #222;
      font-family: Poppins, sans-serif;
      font-size: 36px;
      font-weight: 400;
      margin: auto;
      margin-bottom: 18px;
      text-transform: uppercase;
      @media only screen and (max-width: 820px) {
        display: none;
      }
    }
    p {
      font-family: Poppins, sans-serif;
      line-height: 26px;
      font-size: 16px;
      font-weight: 300;
      color: #777;
    }
  }
  .about-image {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    padding: 20px;
    @media only screen and (max-width: 820px) {
      margin: auto;
      width: 65%;
    }
    img {
      object-fit: contain;
      @media only screen and (max-width: 1100px) {
        height: 100%;
        margin: auto;
      }
      @media only screen and (max-width: 1100px) and (min-width: 820px) {
        margin-right: 50px;
        width: 38%;
        min-width: 380px;
      }
      width: 100%;
      height: auto;
    }
  }
}