/* @link https://utopia.fyi/type/calculator/?c=320,11,1.25,1200,13,1.2,7,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,xs-l|xs-m|2xs-s&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.44rem, calc(0.39rem + 0.23vw), 0.56rem);
  --step--1: clamp(0.55rem, calc(0.5rem + 0.23vw), 0.68rem);
  --step-0: clamp(0.69rem, calc(0.64rem + 0.23vw), 0.81rem);
  --step-1: clamp(0.86rem, calc(0.82rem + 0.21vw), 0.98rem);
  --step-2: clamp(1.07rem, calc(1.04rem + 0.17vw), 1.17rem);
  --step-3: clamp(1.34rem, calc(1.32rem + 0.11vw), 1.4rem);
  --step-4: clamp(1.68rem, calc(1.68rem + 0.01vw), 1.69rem);
  --step-5: clamp(2.02rem, calc(2.13rem + -0.14vw), 2.1rem);
  --step-6: clamp(2.43rem, calc(2.69rem + -0.36vw), 2.62rem);
  --step-7: clamp(2.91rem, calc(3.41rem + -0.67vw), 3.28rem);
}
