$c-1: #203075;
$c-2: lighten($c-1, 3%);

.html404,
.body404 {
  height: 100vh;
  &:before,
  &:after {
    content: "";
    background: linear-gradient($c-1, $c-2);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:before {
    background: linear-gradient($c-2, $c-1);
  }
}

.html404 {
  background: linear-gradient($c-1, $c-2);
  overflow: hidden;
  &:before {
    height: 105vmax;
    width: 105vmax;
    z-index: -4;
  }
  &:after {
    height: 80vmax;
    width: 80vmax;
    z-index: -3;
  }
}

.body404 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Varela Round", Sans-serif;
  text-shadow: 0 30px 10px rgba(#000, 0.15);
  &:before {
    height: 60vmax;
    width: 60vmax;
    z-index: -2;
  }
  &:after {
    height: 40vmax;
    width: 40vmax;
    z-index: -1;
  }
}

.main-404 {
  text-align: center;
  z-index: 5;
}

p {
  font-size: 1.42rem;
  line-height: 1.6rem;
  font-weight: 300;
  margin-top: 0;
}

h1 {
  font-size: 5.6rem;
  line-height: 11rem;
  margin: 0;
}

button {
  background: linear-gradient(#ec5dc1, #d61a6f);
  padding: 0.83rem;
  border: none;
  margin-top: 1rem;
  border-radius: 20px;
  box-shadow: 0 30px 15px rgba(#000, 0.15);
  outline: none;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.bubble {
  z-index: 2;
  background: linear-gradient(#ec5dc1, #d61a6f);
  border-radius: 50%;
  box-shadow: 0 30px 15px rgba(#000, 0.15);
  position: absolute;
  &:before,
  &:after {
    content: "";
    background: linear-gradient(#ec5dc1, #d61a6f);
    border-radius: 50%;
    box-shadow: 0 30px 15px rgba(#000, 0.15);
    position: absolute;
  }
  &:nth-child(1) {
    top: 11vh;
    left: 7vw;
    height: 22vmin;
    width: 22vmin;
    &:before {
      width: 13vmin;
      height: 13vmin;
      bottom: -25vh;
      right: -10vmin;
    }
  }
  &:nth-child(2) {
    top: 20vh;
    left: 38vw;
    height: 10vmin;
    width: 10vmin;
    &:before {
      width: 5vmin;
      height: 5vmin;
      bottom: -10vh;
      left: -8vmin;
    }
  }
  &:nth-child(3) {
    top: 16vh;
    right: 34vw;
    height: 13vmin;
    width: 13vmin;
    &:before {
      width: 3vmin;
      height: 3vmin;
      bottom: -15vh;
      left: -18vmin;
      z-index: 6;
    }
  }
  &:nth-child(4) {
    top: 25vh;
    right: 11vw;
    height: 18vmin;
    width: 18vmin;
    &:before {
      width: 7vmin;
      height: 7vmin;
      bottom: -10vmin;
      left: -15vmin;
    }
  }
  &:nth-child(5) {
    top: 65vh;
    right: 16vw;
    height: 28vmin;
    width: 28vmin;
    &:before {
      width: 10vmin;
      height: 10vmin;
      bottom: 5vmin;
      left: -25vmin;
    }
  }
}
