body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  * {
    box-sizing: border-box;
  }
}

.container {
  display: flex;
  max-width: 1280px;
  margin: auto;
  will-change: transform;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translate3d(0, 47px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fade-in-up-element {
animation: fade-in-up 1.1s;
}

.hidden {
  opacity: 0;
}