.height-55 {
  height: 55vh;
}

.repo-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.article-preview {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.article-list-item {
  will-change: transform;
  transition: transform 0.2s ease-in-out;
}

.article-list-item:hover {
  transform: scale(1.01);
}