@import "colors.scss";
@import "mixins.scss";

main.main-container {
  .article-list-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  section {
    margin-top: var(--space-s-m);
  }
}

.article-list-search-info-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 70%;

  & > span {
    padding: var(--space-3xs-2xs) 2.5px;

    & > small {
      cursor: pointer;
    }
  }

  p {
    margin: 0;

    & > small {
      cursor: pointer;
      font-style: italic;
      color: $link-highlight-color;
    }
  }
}
