.root-container {
  max-width: 1330px;
  margin: auto;
}

@mixin dev-random-highlight {
  $red: random(255);
  $blue: random(255);
  $green: random(255);
  border: 1px solid rgb($red, $blue, $green);
  background-color: rgb($red, $blue, $green, 0.5);
}

main.main-container {
  @include dev-random-highlight;
  display: flex;
  flex-direction: column;
  padding: 20px 12px;
}
