@import "mixins.scss";

body {
  font-family: "Raleway", sans-serif;
  background-color: #fafbfc;
}

$link-highlight-color: #576cbc;

.root-container {
  max-width: 1330px;
  margin: auto;
}

* {
  &::selection {
    background-color: #98aaf082;
  }
}

main.main-container {
  display: flex;
  flex-direction: column;
  padding: 20px 12px;
}

p,
a {
  line-height: 1.6;
  color: inherit;
}

a {
  @include link-with-hover-transition;
  text-decoration: none;
}
