@import "mixins.scss";
@import "colors.scss";

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafbfc;
}

.root-container {
  max-width: 1330px;
  margin: auto;
}

* {
  &::selection {
    background-color: $selection-color;
  }
}

main.main-container {
  display: flex;
  flex-direction: column;
  padding: 20px 12px;
}


p,
a {
  color: inherit;
  line-height: 2;
}

a {
  @include link-with-hover-transition;
  text-decoration: none;
}
