@tailwind base;
@tailwind components;
@tailwind utilities;
@import "colors.scss";

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafbfc;
}

.root-container {
  max-width: 1330px;
  margin: auto;
}

* {
  &::selection {
    background-color: $selection-color;
  }
}

p,
a {
  color: inherit;
  text-decoration: none;
}
