@tailwind base;
@tailwind components;
@tailwind utilities;
@import "colors.scss";

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafbfc;
}

* {
  &::selection {
    background-color: $selection-color;
  }
}

body.light {
  @apply bg-gray-50;
  @apply text-slate-800;
}

body.dark {
  @apply bg-slate-800;
}

.root-container {
  max-width: 1330px;
  margin: auto;
}

p,
a {
  @apply antialiased;
  color: inherit;
  text-decoration: none;
}
