@import "colors.scss";

@mixin dev-random-highlight {
  $red: random(255);
  $blue: random(255);
  $green: random(255);
  border: 1px solid rgb($red, $blue, $green);
  background-color: rgb($red, $blue, $green, 0.5);
}

@mixin link-with-hover-transition {
  position: relative;

  &::after {
    content: "";
    padding: 2px;
    display: block;
    height: 5%;
    width: 100%;
    background: $link-highlight-color;
    opacity: 0.25;
    position: absolute;
    bottom: -10%;
    left: -2px;
    transition: height 0.2s linear;
  }

  &:hover {
    &::after {
      height: 110%;
    }
  }
}
