@import "colors.scss";

@mixin dev-random-highlight {
  $red: random(255);
  $blue: random(255);
  $green: random(255);
  border: 1px solid rgb($red, $blue, $green);
  background-color: rgb($red, $blue, $green, 0.5);
}

@mixin link-with-hover-transition {
  position: relative;
  display: inline-block;

  &:focus {
    @apply outline-none;
  }

  &::before {
    content: "";
    padding: 2px;
    display: block;
    height: 5%;
    width: 100%;
    opacity: 0.25;
    position: absolute;
    bottom: 5%;
    left: 0;
    transition: height 0.2s linear;
    @apply bg-brand-900;
    @apply dark:bg-brand-300;
  }

  &:hover,
  &:focus {
    &::before {
      height: 95%;
    }
  }
}

@mixin rounded-container {
  @apply dark:text-gray-200;
  padding: var(--space-l-xl) var(--space-2xs-m) !important;
  border-radius: var(--space-2xs-xs);
  margin: var(--space-m-xl) var(--space-xs);
}
