@import "../../stylesheets/mixins.scss";

.contact-section {
  @apply flex items-center justify-center antialiased;
  max-width: 1400px;
  margin: 0 var(--space-m-2xl);
  padding: var(--space-l-xl) var(--space-m-2xl);
  border-radius: var(--space-3xs-2xs);
  position: relative;
  @media (max-width: 1024px) {
    margin-top: var(--space-2xl);
    max-width: 700px;
  }
  @media (max-width: 640px) {
    margin: 0;
    padding: var(--space-l-xl) var(--space-xs-s);
  }
  overflow: hidden;

  &-wrapper {
    @apply grid lg:grid-cols-2 gap-10;
    padding: var(--space-xl-2xl) 0;
    align-items: center;
  }

  &-text {
    @apply mt-12 lg:mt-0;
    h1 {
      @apply text-brand-900 dark:text-brand-200 font-bold;
      font-size: var(--step-6);
    }
    h2 {
      @apply text-brand-800 dark:text-brand-300;
      font-size: var(--step-3);
      margin-bottom: var(--space-m-2xl);
    }
    & > p {
      @apply text-brand-700 dark:text-brand-300 font-medium mt-1;
      font-size: var(--step-1);
    }
    & > p:last-of-type {
      @apply text-brand-700 dark:text-brand-300 font-medium;
      margin-top: var(--space-m-l);
    }
  }

  &-form {
    @apply relative flex items-center justify-center;
    border-radius: var(--space-xs);
    min-height: 20rem;
    padding: var(--space-m-xl) var(--space-m-l);
    z-index: 100;
    z-index: 10;
    background-color: hsla(205, 20%, 70%, 0.1);

    & > form {
      @apply text-slate-500 text-sm flex flex-col items-center w-full dark:text-gray-400;
    }

    &-input-container {
      @apply w-full;
      margin-bottom: var(--space-m-l);
    }

    button {
      font-size: var(--step-0);
      margin-top: var(--space-s);
      padding: var(--space-2xs) var(--space-xs);
      svg {
        height: var(--space-s);
        margin-right: var(--space-3xs);
      }
    }
  }
}

body.dark {
  div.contact-page-section {
    div.contact-page-section-form {
      background-color: hsla(217.895, 11%, 65%, 0.1);
    }
  }
}
