.star {
  fill: #def8ff;
}

.patch {
  fill: #a6cad0;
}

#container,
.patch,
.star,
.light,
.dark,
#button,
#sun,
#moon,
#cloud {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

.light #container {
  fill: #83cbd8;
}

.dark #container {
  fill: #2b4360;
}

.light>#button {
  transform: translate(2.333px, 2.333px);
}

.dark>#button {
  transform: translate(28px, 2.333px);
}

.light>#sun {
  opacity: 1;
}

.dark #sun {
  opacity: 0;
}

.light #moon {
  opacity: 0;
}

.dark #moon {
  opacity: 1;
}

.light #cloud {
  opacity: 1;
}

.dark #cloud {
  opacity: 0;
}

.light .star {
  opacity: 0;
}

.dark .star {
  opacity: 1;
}

.light header {
  background-color: rgb(62, 78, 136);
}

#brand-logo > path {
  /*
    TODO: I made the svg from text, which is made with a fill and not strokes.
    If it feels like, i can regenerate logo with stroke and animate the path.
    Looks nice either way.
  */
  fill: transparent;
  stroke: white;
  stroke-width: 1;
  stroke-dasharray: 683px;
  stroke-dashoffset: 683px;
  animation: logoAnimation ease 5s forwards;
}

@keyframes logoAnimation {
  20% {
    fill: white;
  }
  100% {
    fill: white;
    stroke-dashoffset: 0;
  }
}