@import "../../stylesheets/common.scss";

.navigation-bar {
  @include dev-random-highlight;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 11px;
  padding-right: 11px;
  .brand {
    text-decoration: none;
  }
  ul {
    @include dev-random-highlight;
    padding-top: 11px;
    padding-bottom: 11px;
    list-style: none;
  }
}