.main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
}

.repo-title {
  a {
    text-decoration: none;
  }

  h4 {
    color: #37474f;
    transition: color 0.2s ease-out;
    margin: 0;
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.6rem;
  }
}

.badges {
  display: flex;
  margin: 20px 0;
  margin-bottom: 36px;
}

.repo-description {
  p {
    text-align: left;
    font-weight: 300;
    line-height: 2rem;
  }
}
