.article-preview.h-feed {
  @apply flex flex-col mx-auto justify-between mb-28;
  .p-name {
    @apply antialiased;
    font-size: var(--step-2);
  }

  a.p-url {
    @apply text-brand-700 dark:text-brand-400 hover:text-brand-900 dark:hover:text-brand-700 focus:outline-dotted focus:outline-2 focus:outline-brand-700 antialiased self-center;
    margin-top: var(--space-2xs-xs);
  }
}

.article-preview ul {
  @apply grid grid-cols-1 sm:grid-rows-1 md:grid-cols-3 grid-flow-row;
  grid-auto-rows: 0px;
  overflow: hidden;
  padding: var(--space-3xs);
  gap: var(--space-2xs-xs);

  @media (max-width: 800px) {
    @apply grid-cols-1;
    grid-template-rows: auto auto;
    padding: 0 var(--space-3xs);
  }

  @media (max-width: 1200px) and (min-width: 800px) {
    @apply grid-cols-2;
    padding: 0 var(--space-3xs);
  }

  .h-entry {
    @apply inline-flex w-full items-stretch focus-within:outline-dotted focus-within:outline-2 focus-within:outline-brand-700;
    will-change: transform;
    transition: transform 0.2s ease-in-out;
    &:hover,
    &:focus-within {
      transform: scale(0.97);
    }

    & > div {
      @apply h-full flex flex-col justify-between p-6 bg-white  dark:bg-slate-800 dark:border-gray-800 shadow-sm;
      border-radius: var(--space-2xs-xs);
      .h-item {
        @apply h-2/3 flex flex-col justify-between;
        & > .u-url {
          @apply focus:outline-none;
        }
        .p-name {
          @apply mb-2 text-gray-900 dark:text-slate-200;
          font-size: var(--step-2);
          padding-right: var(--space-m);
          margin: var(--space-2xs-xs) 0 !important;
          margin-top: 0 !important;
          width: 100%;
          font-weight: 400;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
        }
      }
    }

    .p-summary {
      @apply mb-3 text-gray-700 dark:text-gray-400;
      font-size: var(--step-1);
      line-height: 1.9;
      margin-top: var(--space-2xs);
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      + .u-url {
        @apply inline-flex items-center text-center text-brand-700 rounded-lg hover:text-brand-900 focus:outline-none;
      }
    }
  }
}
