@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0;
    overflow: none;
    font-family: 'Roboto';
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}

section {
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    max-width: 1280px;
}