body {
    margin: 0;
    overflow: none;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}

.container {
    display: flex;
    width: 100%;
    margin: auto;
    max-width: 1280px;
}