---
import SEO from "../components/seo.astro";
import FloatingActionButton from "../components/floating_action_button.astro";
import "../styles/global.css";
import "../styles/tailwind.css";
import "../styles/animations.css";
import "@fontsource-variable/inter";
import "@fontsource-variable/red-hat-display";
import redhatdisplaywoff from "@fontsource-variable/red-hat-display/files/red-hat-display-latin-wght-normal.woff2?url"
import "@fontsource-variable/red-hat-text";
import "@fontsource-variable/montserrat";
import montserratwoff from "@fontsource-variable/montserrat/files/montserrat-latin-wght-normal.woff2?url"
import Footer from "../components/footer.astro";
import { ClientRouter } from "astro:transitions";

let {
	page_info: { title, description, image, keywords },
} = Astro.props;

const seo = {
	title: title || "title",
	description: description || "description",
	image: `siteUrl${image || "image"}`,
	type: "WebSite",
	keywords: keywords || "keywords",
};
---

<!doctype html>
<html lang="en">
	<head>
		<SEO page_info={seo} />
		<ClientRouter />
		<!-- preloading this two because they are in the critical chain -->
		<link rel="preload" as="font" type="font/woff2" href={montserratwoff} crossorigin="anonymous" />
		<link rel="preload" as="font" type="font/woff2" href={redhatdisplaywoff} crossorigin="anonymous" />
		<slot name="head" />
	</head>
	<body class="max-w-screen">
		<slot />
		<FloatingActionButton />
		<Footer />
	</body>
</html>
