---
import SEO from "../components/seo.astro";
import "../styles/global.css";
import "../styles/tailwind.css";
import "../styles/animations.css";
import "@fontsource-variable/inter";
import "@fontsource-variable/red-hat-display";
import "@fontsource-variable/red-hat-text";
import "@fontsource-variable/montserrat";
import Footer from "../components/footer.astro";
import { ClientRouter } from "astro:transitions";

let {
	page_info: { title, description, image, keywords },
} = Astro.props;

const seo = {
	title: title || "title",
	description: description || "description",
	image: `siteUrl${image || "image"}`,
	type: "WebSite",
	keywords: keywords || "keywords",
};
---

<!doctype html>
<html lang="en">
	<head>
		<SEO page_info={seo} />
		<ClientRouter />
		<slot name="head" />
	</head>
	<body class="max-w-screen">
		<slot />
		<Footer />
	</body>
</html>
