.faq-main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  &.container {
    width: 90%;
    max-width: 1028px;
  }
  background-color: #fff;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  h2.q {
    font-size: 1.51rem;
    font-weight: 400;
    margin-top: 3.4rem;
    color: rgb(34, 36, 38);
  }

  h1 {
    font-size: 1.73rem;
    font-weight: 400;
    margin-top: 3.4rem;
    color: rgb(34, 36, 38);
  }

  .a {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(34, 36, 38);
    line-height: 1.6em;
    margin: 0.5em 0;

    li {
      margin: 0.5em 0;
      line-height: 1.6em;
    }
  }

  a {
    text-decoration: none;
    color: #1a2c5bc9;
  }

  .bottom-text {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(34, 36, 38);
    line-height: 2em;
    margin: 1em 0;
  }
}
