.intro-card {
  border-radius: 12px;
  position: relative;
  background: #fff;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1090px;

  @media only screen and (max-width: 934px) {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color: rgb(119, 119, 119);
    font-family: poppins, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    padding: 2% 3%;
    position: relative;
    text-align: left;
    height: fit-content;
  }

  .hero-image {
    -ms-flex: 1;
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    width: 90%;

    @media only screen and (max-width: 1069px) {
      width: 90%;
    }

    img {
      width: auto;
      height: 100%;
    }
  }

  .hero-intro {
    height: 100%;
    padding-left: 5%;
    flex-direction: column;
    font-family: poppins, sans-serif;
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;

    @media only screen and (max-width: 934px) {
      width: 90%;
      padding-left: 0;
    }

    h1 {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 2.1px;
      font-weight: 400;
      margin-block-start: 1.67em;
      margin-bottom: 12px;
      color: #222;
      line-height: 1.2;
    }

    h2 {
      font-size: 48px;
      text-transform: uppercase;
      margin-bottom: 15px;
      color: #222;
      line-height: 1.2;
      margin-top: 0;
      font-family: PT Sans;
    }

    h3 {
      font-size: 16px;
      font-weight: 400;
      margin-block-start: 1.33em;
      text-transform: uppercase;
      margin-bottom: 20px;
      color: #222;
      line-height: 1.2;
    }

    p {
      max-width: 540px;
      font-family: "Open Sans", sans-serif;
      color: rgb(101, 101, 101);
      margin-bottom: 40px;
      font-weight: 300;
      letter-spacing: 0.02em;
      line-height: 1.5em;
      font-size: 1.025em;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      cursor: auto;

      @media only screen and (max-width: 1094px) and (min-width: 934px) {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: auto;
      }

      @media only screen and (max-width: 934px) {
        display: flex;
        justify-content: space-between;
      }

      a {
        text-decoration: none;
      }

      li {
        margin-bottom: 15px;
        position: relative;
        font-size: 16px;
        color: rgb(101, 101, 101);
        cursor: pointer;
        display: flex;
        align-items: center;
        float: left;
        clear: both;
        width: fit-content;

        span {
          font-family: "Open Sans", sans-serif;
          font-weight: 300;
          letter-spacing: 0.02em;
          line-height: 1.51em;

          &:hover {
            filter: drop-shadow(0px 0px 0.5px rgb(207, 207, 207));
          }

          @media only screen and (max-width: 1094px) {
            display: none;
          }
        }

        svg {
          margin-right: 0.5em;
          font-size: 1.5em;
          color: #557dce;
        }
      }
    }
  }
}

.hero-section {
  justify-items: center;
  width: 100%;
}